* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Dubai;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(#fbe8a6, #f4d02c);
}

.full {
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}

::website-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track-piece {
    background: #fbe8a6;
}

::-webkit-scrollbar-thumb {
    background: #fbe8a6;
    border-radius: 10px;
    border: 3px solid #fff;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

.container {
    width: 95%;
    height: 95vh;
    background: rgba(255, 255, 255, .2);
    position: relative;
    border-radius: 25px;
    backdrop-filter: blur(10px);
    border: 5px solid#fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, .1),
        0 0 10px rgba(0, 0, 0, .2),
        0 0 15px rgba(0, 0, 0, .2);

    padding: 20px;
    display: flex;
    gap: 20px;
    overflow: hidden;



}

.container .left header {
    position: relative;
    width: 100%;
}

.container .left {
    width: 260px;
    height: 100%;
    position: relative;
    border-radius: 20px;
    backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 1);
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 30px 0;
}

.container .left header .logo .close {
    display: none;
    cursor: pointer;
    line-height: 20px;
    text-align: center;

    left: -20px;
    position: relative;
    width: 100%;
    height: 100%;
}

.container .left header .logo {
    position: relative;
    margin-bottom: 15px;
    padding-left: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.container .left header .logo h2 {
    font-size: 1.2em;
    font-weight: 800;
    cursor: pointer;
    color: #000;

}

.container .left header nav {
    position: relative;
    padding: 20px 0px 20px 25px;

}

.container .left header nav ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
}

.container .left header nav ul li {
    position: relative;
    width: 100%;
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .left header nav ul li a {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    text-decoration: none;
    justify-content: flex-start;
    align-items: center;
    border-top-left-radius: 10px;
    padding-left: 20px;
    border-bottom-left-radius: 10px;
    transition: 0.4s ease;


}

.container .left header nav ul li:first-child a,
.container .left header nav ul li a:hover {
    transition: 0s;
    background: #fce07c;
}

.container .left header nav ul li a::before {
    content: '';
    position: absolute;
    right: 0;
    width: 0;
    height: 100%;
    background: #e6c242;
    transition: 0.3s ease;
}

.container .left header nav ul li:first-child a::before,
.container .left header nav ul li a:hover::before {
    width: 4px;
}

.container .left header nav ul li a .material-symbols-outlined {
    color: #000;
    font-size: 1.7em;
    margin-right: 10px;
}

.container .left header nav ul li a .title {
    color: #000000;
    font-size: 1.2em;

}

.container .left header nav ul li a:hover .material-symbols-outlined,
.container .left header nav ul li a:hover .title {
    color: #212121c8;
}

.container .right {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container .right .top {
    width: 100%;
    position: relative;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: #fff;
    border-radius: 20px;
}

.container .right .top .searchBox {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;

}

.container .right .top .searchBox h2 {
    color: #000;
    font-size: 1.4em;
    cursor: pointer;
}

.container .right .top .searchBox .inputBox {
    position: relative;
    width: 250px;
    height: 40px;
    background: #f8f2fe;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    border-radius: 10px;
    padding-left: 10px;
    gap: 10px;
    overflow: hidden;
}

.container .right .top .searchBox .inputBox span {
    cursor: pointer;
    color: #999;
}

.container .right .top .searchBox .inputBox input {
    position: relative;
    width: 100%;
    height: 25px;
    outline: none;
    border: none;
    background: transparent;
    margin-right: 10px;
    font-size: 1.2em;
    color: #000;
}

.container .right .top .user {
    position: relative;
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: center;

}

.container .right .top .user span {
    color: #000;
    cursor: pointer;
}

.container .right .top .user .userImg {
    position: relative;
    width: 40px;
    height: 45px;
    overflow: hidden;
    cursor: pointer;
}

.container .right .top .user .userImg img {
    position: absolute;
    object-fit: cover;
}

.container .right .top .user h2 {
    font-size: 1.2em;
    line-height: 18px;
    white-space: nowrap;
    cursor: pointer;
}

.container .right .top .user h2 span {
    color: #999;
    font-size: 0.8em;
}

.container .right .top .user .expand {
    position: relative;
    width: 40px;
    height: 40px;
    border: 3px solid #999;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container .right .top .user .expand span {
    color: #000;
    font-size: 2em;
    font-size: 600;
    transition: 0.3s ease;
}

.container .right .top .user .expand:hover span {
    transform: scale(1.2);
}

.container .right .top .user .toggle {
    position: relative;
    height: 40px;
    width: 40px;
    cursor: pointer;
    border: 3px solid #999;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    line-height: 50px;


}

.container .right .top .user .toggle span {
    color: #000;
    font-size: 1.5em;
    font-weight: 900;
    visibility: 0s;
    transition: 0.3s ease, opacity 0s;



}

.container .right .top .user .toggle:hover span:last-child {

    left: 50%;

}

.container .right .top .user .toggle.active span:first-child {
    opacity: 0;
    visibility: hidden;

}

.container .right .top .user .toggle.active span:first-child {
    opacity: 1;
    visibility: visible;
}

.container .right main {
    position: relative;
    width: 100%;
    height: calc(100% - 90px);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 20px;
}


.container .right main .projectsCard .projectTop{
    position: relative;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container .right main .projectsCard{
    position: relative;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 1);
    backdrop-filter: blur(5px);
    border-radius: 20px;
    
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    grid-row: 1/6;
}

.container .right main .projectsCard .projectTop h2{
    color: #000;
    font-size: 1.2em;
    line-height: 18px;
    cursor: pointer;
}

.container .right main .projectsCard .projectTop h2 span{
    color: #999;
    font-size: 0.8em;

}

.container .right main .projectsCard .projectTop .projectDot{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.container .right main .projectsCard .projectTop .projectDot span{
    color: #000;
    font-size: 1.8em;
    font-weight: 700;

}

.container .right main .projectsCard .projectProgress{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container .right main .projectsCard .projectProgress .process{
    position: relative;
    padding: 5px 10px ;
    background: #f1f3ff;
    border-radius: 5px;
    cursor: pointer;
}

.container .right main .projectsCard .projectProgress .process h2{
    color: #8389f9;
    white-space: nowrap;
    font-size: 0.9em;
    font-weight: 500;
    letter-spacing: 0.5px;
}

.container .right main .projectsCard .groupimage{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 15px 0;

}
.container .right main .projectsCard .groupimage::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1.5px;
    background: rgba(0, 0, 0, .1);
    background: rgba(0, 0, 0, .1);
}
.container .right main .projectsCard .groupimage a{
    position: relative;
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
    left: var(--left);
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;

    
}

.container .right main .projectsCard .groupimage a img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container .right main .projectsCard .task{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: 10px 0;
}
.container .right main .projectsCard .task h2{
    color: #999;
    font-size: 1em;

}
.container .right main .projectsCard .task h2 b{
    color: #000;

}
.container .right main .projectsCard .task .line{
    position: relative;
    width: 100%;
    height: 5px;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    z-index: -1;
    overflow: hidden;

}
.container .right main .projectsCard .due{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}


.container .right main .projectsCard .due h2{
    padding: 0px 10px ;
    border: 2px solid rgb(118, 61, 3);
    border-radius: 5px;
    font-size: 1.1em;
    color: goldenrod;
}
.container .right main .myTasks{
    position: relative;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 1);
    backdrop-filter: blur(5px);
    border-radius: 20px;
    
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;   
    flex-direction: column;
    grid-row: 1/7;
    grid-column: 1/3;

}
.container .right main .myTasks .tasksHead{
    position: relative;
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

}
.container .right main .myTasks .tasksHead h2{
    position: relative;
    width: 100%;
    height: 100%;
    line-height: 17px;
    color: #000;
    font-size: 1.2em;
    cursor: pointer;
}

.container .right main .myTasks .tasksHead .tasksdots{
    position: relative;
    cursor: pointer;

}

.container .right main .myTasks .tasksHead .tasksdots span{
    color: #000;
    font-size: 1.8em;
    font-weight: 800;

}
.container .right main .myTasks .tasks{
    position: relative;
    width: 100%;
    height: 100%;

}

.container .right main .myTasks .tasks ul{
    position: relative;
    width: 100%;
    height: 100%;
}
.container .right main .myTasks .tasks ul li{
    position: relative;
    width: 100%;
    font-size: larger;
    line-height: 2em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container .right main .myTasks .tasks ul li::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1.5px;
    background: rgba(0, 0, 0, .1);
}
.container .right main .myTasks .tasks ul li:last-child:before{
    width: 0;
}
.container .right main .myTasks .tasks ul li .tasksIconName{
    /* position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    /* flex-direction: column; */
    justify-content: flex-start;
    align-items: center;
    font-weight: 500;
    /* gap: 25px; */
} 
.container .right main .myTasks .tasks ul li .tasksIconName .taskicondone .submit{
    /* padding: 20px 0px; */
    padding-left: 20px;
    align-items: center;
}
.container .right main .myTasks .tasks ul li .tasksIconName .taskicondone .date{
    padding-left: 100px;
    align-items: center;
}